name: Build
on:
  push:
    branches: [ 'main' ]
    tags: [ '**' ]
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:

          - job_name: eslint
            run_script: bun run lint

          - job_name: build
            run_script: |
              bun run ts:build

          - job_name: lint-imports
            run_script: ./scripts/lint-module-import/run.sh

          - job_name: test
            run_script: |
                bun run test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.5
      - name: Install deps
        run: |
          bun --version
          bun install --frozen-lockfile

      - name: Run ${{ matrix.job_name }}
        run: ${{ matrix.run_script }}
